<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>
<body>
    <div class="container">
        <h1>Update Details :</h1>
        <form action="{% url 'add' %}" method="post">
        {% csrf_token %}
        <label for="book-id">Book Id: </label><input type="text" name="book-id" placeholder="Book Id" value="{{ books.book_id }}" required>
        <br>
        <label for="book-id">Book Name: </label><input type="text" name="book-name" placeholder="Book Name" value="{{ books.book_name }}" required>
        <br>
        <label for="book-id">Book Author: </label><input type="text" name="book-author" placeholder="Book Author" value="{{ books.book_author }}" required>
        <br>
        <label for="book-id">Publish Date: </label><input type="date" name="date" placeholder="Date of Publishing" value="{{ date }}" required>
        <br>
        <label for="book-id">Book Price: </label><input type="number" name="book-price" placeholder="Price Of Book" value="{{ books.book_price }}" required>
        <br>
        <button type="submit" class="waves-effect waves-light btn-large" style="color: white;">Update</button>
        <button class="waves-effect waves-light btn-large"><a href="{% url 'home' %}" style="text-decoration: none;color: white;">Back to Home</a></button>
    </form>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>